#container-review{
    border: blue solid 1px;
    padding: 1em;
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
}

.album{
    border: solid black 1px;
    background-color: grey;
    width: 25em;
    margin: 1em;
    
}



.album > a > img {
    border: solid red 1px;
    background: gainsboro;
    min-width: 100px;
    max-width: 24em;
    padding: 10px;
    margin: 4px 8px;
    
}

.album > p {
    border: 1px solid red;
    background: gainsboro;
    padding: 5px;
    margin: 4px 8px;
}